@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@500&family=Quicksand:wght@300&display=swap");

:root {
  --color-main: #21120b;
  --color-secundary: #9e7155;
  --color-tertiary: #818181;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
}

header {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 10%;
}

.bars {
  display: none;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  opacity: 0;
  animation: slideYBottom 0.8s ease forwards;
}

.links a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  transition: 0.5s;
}

.links a:hover {
  transform: scale(1.1);
  border-radius: 5px;
  background-color: var(--color-main);
}

.container-slider {
  margin: 0 auto;
  width: 100%;
  height: 20%;
  overflow: hidden;
  opacity: 0;
  animation: slideYBottom 0.8s ease forwards;
  animation-delay: 0.5s;
}

.slides {
  width: 300%;
  height: 20%;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 33.3%;
  position: relative;
  transition: 1.5s;
}

.slide img {
  width: 100%;
}

.navigation {
  position: relative;
  width: 100%;
  bottom: 30px;
  display: flex;
  justify-content: center;
  z-index: 1;
  opacity: 0;
  animation: slideYBottom 0.8s ease forwards;
  animation-delay: 0.5s;
}

.navigation-btn {
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-btn:not(:last-child) {
  margin-right: 10px;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -33.3%;
}

#radio3:checked ~ .first {
  margin-left: -66.6%;
}

.container-info {
  display: flex;
  justify-content: space-around;
  margin: 25px 5px;
  padding: 0 10px 25px 10px;
  color: var(--color-main);
  border-bottom: 1px solid var(--color-tertiary);
  opacity: 0;
  animation: slideYTop 0.8s ease forwards;
  animation-delay: 0.8s;
}

.container-info a {
  color: var(--color-main);
}

.info-btn-cantos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-main);
  border-radius: 15px;
  padding: 15px 10px;
  text-align: center;
  min-width: 10%;
  cursor: pointer;
  font-weight: bold;
  min-width: 58px;
  max-width: 80px;
  transition: 0.5s;
}

.info-btn-cantos p {
  font-size: 0.7rem;
}

.infos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 80%;
  cursor: pointer;
  font-size: 1.2rem;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  font-weight: bold;
}

.info:hover,
.info-btn-cantos:hover {
  transform: scale(1.1);
}

.infos .frete {
  margin-top: 15px;
}

.page h1,
.page .description .frete-gratis h1 {
  max-width: 95%;
}

.border {
  width: 1px;
  height: 100%;
  background-color: var(--color-tertiary);
}

.info i {
  margin-right: 10px;
  font-size: 2rem;
}

.infos span {
  font-size: 0.6rem;
  text-align: center;
  position: relative;
  bottom: 1px;
  z-index: -1;
}

.container-categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: slideYTop 0.8s ease forwards;
  animation-delay: 0.8s;
  overflow-x: hidden;
}

.container-categories h2 {
  text-align: center;
  font-size: 3rem;
  margin: 30px 0;
  color: var(--color-tertiary);
}

.categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.categories-line {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.categori {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 290px;
  margin: 20px;
}

.categori h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  height: 50px;
}

.categori img {
  max-width: 280px;
  min-height: 240px;
  border-radius: 4px;
}

.categori a {
  text-decoration: none;
  color: #fff;
  background-color: var(--color-main);
  padding: 8px 20px;
  font-size: 0.7rem;
  border-radius: 15px;
  position: relative;
  bottom: 15px;
  font-weight: bold;
  transition: 0.5s;
}

.categori a:hover {
  background-color: var(--color-secundary);
  font-weight: bolder;
}

.container-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: slideYTop 0.8s ease forwards;
  animation-delay: 0.8s;
  overflow-x: hidden;
}

.container-products h2 {
  text-align: center;
  font-size: 3rem;
  margin: 30px 0;
  color: var(--color-tertiary);
}

.products-line {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.product {
  max-width: 290px;
  padding: 15px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product h3 {
  font-size: 1.2rem;
  max-width: 220px;
  height: 50px;
}

.product img {
  max-width: 280px;
  border-radius: 4px;
}

.product a {
  text-decoration: none;
  color: #fff;
  background-color: var(--color-main);
  padding: 8px 20px;
  font-size: 0.7rem;
  border-radius: 15px;
  position: relative;
  bottom: 15px;
  font-weight: bold;
  transition: 0.5s;
}

.product a:hover {
  background-color: var(--color-secundary);
  font-weight: bolder;
}

.atacado {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: var(--color-main);
}

.atacado .atacado-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.atacado .atacado-text p {
  max-width: 100%;
  text-align: center;
}

.atacado .atacado-text h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.atacado .atacado-text a {
  background-color: var(--color-secundary);
  display: block;
  margin-top: 15px;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 1.2rem;
  transition: 0.5s;
  color: #fff;
}

.atacado .atacado-text a:hover {
  /* transform: scale(1.1); */
  background-color: #996443;
}

.atacado .atacado-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.atacado img {
  width: fit-content;
  max-width: 250px;
  border-radius: 4px;
}

/* location */

.location {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 30px 10px;
}

.location-text {
  padding: 0 25px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.location-text h2 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.location-text a {
  background-color: #9e7155;
  color: #fff;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  display: block;
  width: fit-content;
  transition: 0.5s;
}

.location-text a:hover {
  background-color: #996443;
}

.location-map {
  width: 50%;
  min-width: 320px;
}

.location-map iframe {
  width: 90%;
  border-radius: 4px;
  height: 400px;
}

/* button whatsapp */

.btnwhatsapp {
  position: fixed;
  bottom: 25px;
  right: 20px;
  transition: 0.8s;
}

.btnwhatsapp:hover {
  transform: scale(1.1);
}

.btnwhatsapp img {
  width: 50px;
  filter: drop-shadow(2px 2px 4px var(--color-main));
}

/* footer */
.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #000;
  color: #aaaaaa;
  padding: 15px 10px;
}

.box-footer {
  margin: 20px;
}

.footer-top .sociais {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-top .sociais i {
  font-size: 1.7rem;
}

.footer-top .sociais a,
.footer-top .institucional a {
  padding: 7px 7px 7px 0;
  color: #aaaaaa;
  transition: 0.5s;
}

.footer-top .sociais a:hover,
.footer-top .institucional a:hover {
  color: var(--color-secundary);
}

.footer-top .sociais img {
  width: 150px;
}

.footer-top .institucional {
  display: flex;
  flex-direction: column;
}

.footer-top .atendimento .atendimento-box {
  margin: 10px 0;
}

.footer-top .atendimento .atendimento-box span {
  color: #aaaaaa;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 15px 0;
  padding: 15px 30px;
  text-align: center;
}

/* pages */
.page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 70px;
  opacity: 0;
  animation: slideYTop 0.8s ease forwards;
}

.page h1,
.page .description h1 {
  font-size: 2.1rem;
  color: var(--color-tertiary);
  margin: 30px 0;
  max-width: 70%;
  text-align: center;
}

.page .description h2 {
  margin: 10px 0;
}

.backPage {
  position: fixed;
  top: 3.5%;
  left: 10%;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  transition: 0.5s;
}
.backPage:hover {
  transform: scale(1.2);
  border: 1px solid var(--color-tertiary);
}

.backPage i {
  font-size: 4rem;
  color: var(--color-tertiary);
}

.description {
  width: 95%;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.description div {
  max-width: 97%;
  margin: auto;
}

.description .description-atacado-img img {
  width: 300px;
  border-radius: 4px;
}

.description div h3 {
  margin: 20px 0 5px 0;
}

.description div h2 {
  font-size: 2rem;
}

.description div p {
  margin-bottom: 10px;
}

.description div article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 40px 0;
}

.description div article .box {
  width: 220px;
  height: 180px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px var(--color-secundary);
  transition: 0.8s;
}

.description div article .box:hover {
  transform: scale(1.1);
}

.description div article .box i {
  font-size: 3rem;
  color: var(--color-secundary);
}

.description div article .box h3 {
  color: var(--color-main);
}

.description div article .box p {
  max-width: 130px;
  margin: 0 5px;
  text-align: center;
}

.description div .whatsapp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.description div a {
  text-decoration: none;
  padding: 9px 10px 9px 20px;
  margin-bottom: 40px;
  background-color: rgba(0, 112, 37, 0.836);
  color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  max-width: 320px;
  font-size: 2rem;
  line-height: 29px;
  font-family: "Anton", sans-serif;
  text-align: center;
  transition: 0.5s;
}

.description div a:hover {
  transform: scale(1.1);
}

.carrossel-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.description .div-img-description {
  max-width: 300px;
  height: 420px;
  overflow: hidden;
  margin-bottom: 20px;
}

.description .div-img-description img {
  width: 100%;
  border-radius: 4px;
  transition: 0.8s;
}

.description .div-img-description img:hover {
  transform: scale(1.6);
}

.description div .description-img img {
  width: fit-content;
  max-width: 350px;
}

.slide-product {
  display: none;
}

.visible {
  display: block;
}

.description div a img {
  max-width: 70px;
  margin: -20px 10px -20px -20px;
  filter: drop-shadow(2px 2px 2px #000);
}

.description div ul {
  margin-bottom: 25px;
}

.description div ul li {
  margin: 15px;
}

.description-img,
.video {
  display: flex;
  justify-content: center;
}

.video iframe {
  border-radius: 10px;
  margin: 30px 0;
}

.description div .comments {
  max-width: 800px;
}

.description .content-footer {
  max-width: 800px;
  padding: 0 20px;
}

.description .content-footer h1 {
  min-width: 100%;
}

.page .container-comments h1 {
  font-size: 2rem;
}

.comments .comment {
  border: 1px solid var(--color-secundary);
  margin: 15px 0;
  padding: 10px;
  border-radius: 10px;
}

.comments {
  padding: 10px 20px;
}

.comment-text {
  max-width: 600px;
  padding: 20px 0;
}

.comment .img {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-secundary);
}

.face {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.face i {
  font-size: 2.5rem;
  color: var(--color-secundary);
  margin-bottom: 5px;
}

.stars i {
  color: var(--color-secundary);
}

.show {
  position: fixed;
  right: 0;
  top: 70px;
  display: flex;
  height: 300px;
  padding: 10px;
  flex-direction: column;
  justify-content: space-around;
  background-color: #000;
  color: #fff;
  text-align: right;
  border-radius: 5px 0 0 5px;
  z-index: 5;
  opacity: 0;
  animation: slideYBottom 0.8s ease forwards;
}

.show a {
  color: #fff;
  font-size: 0.8rem;
  padding: 10px;
  transition: 0.5s;
}

.show a:hover {
  background-color: var(--color-main);
}

@media (max-width: 800px) {
  .location {
    gap: 20px;
  }

  .location-text {
    width: 100%;
  }

  .location-map iframe {
    width: 100%;
    height: 320px;
  }
}

@media (max-width: 700px) {
  .links a {
    font-size: 0.8rem;
  }

  .info i {
    font-size: 1.5rem;
  }
}

@media (max-width: 660px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    top: 0;
    z-index: 4;
  }

  main {
    margin-top: 70px;
  }

  #logo {
    display: block;
  }

  .logo img {
    max-width: 30%;
  }

  .bars {
    display: block;
    padding: 15px;
  }

  .bars i {
    color: #fff;
    font-size: 1.2rem;
    padding: 5px;
    cursor: pointer;
  }

  .show {
    height: 400px;
  }
  .show a {
    font-size: 1rem;
  }

  .links {
    display: none;
  }

  .info-btn-cantos {
    max-width: 15%;
  }

  .info-btn-cantos p {
    font-size: 0.6rem;
  }

  .infos {
    display: flex;
    flex-direction: row;
    font-size: 0.7rem;
  }

  .infos .frete {
    max-width: 80px;
    margin-top: 27px;
  }

  .infos span {
    font-size: 0.5rem;
  }

  .info {
    display: flex;
    flex-direction: column;
  }

  .info i {
    font-size: 1rem;
    margin: 0;
  }

  .container-categories h2 {
    font-size: 2rem;
    margin: 0;
  }

  .categori {
    width: 50%;
    margin: 20px 0;
  }

  .categori h3 {
    max-width: 160px;
    text-align: center;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .categori img {
    width: 180px;
  }

  .product {
    width: 40%;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product img {
    max-width: 160px;
  }

  .product a {
    padding: 8px 10px;
  }

  .container-products h2 {
    font-size: 1.8rem;
  }

  .product h3 {
    font-size: 1rem;
    max-width: 160px;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .atacado div h3 {
    width: 290px;
    margin: 10px 0 0 0;
    text-align: center;
    font-size: 1.8rem;
  }

  .atacado div a {
    padding: 5px 15px;
    font-size: 1rem;
  }

  .description div .description-atacado-img {
    max-width: 300px;
  }

  /* pages */
  .page h1 {
    font-size: 1.5rem;
  }

  .description .div-img-description {
    max-width: 350px;
  }

  .description .div-img-description img:hover {
    transform: scale(1);
  }

  .description div article .box {
    width: 140px;
    height: 160px;
    margin: 20px 5px;
    padding: 5px;
  }

  .description div article .box i {
    font-size: 2rem;
  }

  .description div article .box h3 {
    font-size: 1rem;
    text-align: center;
  }

  .description div article .box p {
    font-size: 0.9rem;
  }

  .description div .img-atacado img {
    max-width: 300px;
  }

  .box-footer {
    width: 230px;
  }

  .backPage {
    top: 50px;
    left: 0;
  }

  .backPage i {
    font-size: 2rem;
  }
}

@media (max-width: 520px) {
  .logo img {
    width: 33%;
  }

  main {
    margin-top: 55px;
  }

  .atacado {
    flex-direction: column;
  }

  .atacado .atacado-text {
    width: 100%;
  }
}

@media (max-width: 330px) {
  .location-text h2 {
    font-size: 2rem;
  }

  .location-map {
    display: none;
  }
}

@keyframes slideYTop {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideYBottom {
  0% {
    transform: translateY(-150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
